# See: https://github.com/pr3d4t0r/COVIDvu/blob/master/LICENSE 
# vim: set fileencoding=utf-8:


# Environment:
#
# COVIDVU_JUPYTER_MOUNT_POINT   container mount point for /home/jovyanV
# COVIDVU_NIC_BIND              container host IP address/NIC; can be 127.0.0.1
#                               or 0.0.0.0
# COVIDVU_PORT_BIND             container host port

version: '3'

services:

    covidvu_cime_dev:
        container_name: 'covidvu_cime_dev'
        environment:
            GRANT_SUDO             : 'yes'
            JUPYTER_LAB_ENABLE     : 'yes'
        image: 'pr3d4t0r/covidvu:latest'
        ports:
            - '${COVIDVU_NIC_BIND}:${COVIDVU_PORT_BIND}:8888'
            # For LAN availability:
            # - 8805:8888
        privileged: true
        user: 'root:${JUPYTER_LAB_GROUP}'
        # user: 'root:users'
        volumes:
            - ${COVIDVU_JUPYTER_MOUNT_POINT}:/home/jovyan

