# See: https://github.com/VirusTrack/COVIDvu/blob/master/LICENSE 
# vim: set fileencoding=utf-8:

# Environment configuration:

# Change the mount point to whatever you want for your local system.
export COVIDVU_JUPYTER_MOUNT_POINT="/Users/joeuser/development/covidvu"
export COVIDVU_NIC_BIND="127.0.0.1" # localhost
export COVIDVU_PORT_BIND="8808"	    # Jupyter default

