#
# *** AWS
#
export AWS_ACCESS_KEY_ID="AAFALADFJHLAFWHATEVERDUDE"
export AWS_SECRET_ACCESS_KEY="someverylongprivatekeyhere"
export VIRUSTRACK_CLOUDFRONT_ID="E000000aa000aI"

#
# --- config
#
CONTAINER_SIG_FILE="/proc/1/cgroup"
STAGE_BUCKET="staging.virustrack.live"
SITE_BUCKET="virustrack.live"
SITE_DATA_DIR="site-data"

